.bannercontainer {
    position: relative;
}

.banner {
    position: relative;
    background-image: var(--banner-color);
    color: var(--text-color);
    padding: 100px;
    letter-spacing: 15px;
    text-align: 20px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition:ease-in  0.5s;
}
.banner:hover{
    background-image: var(--banner-hover)  
}

.banner .icon {
    position: absolute;
    top: 150px; /* Adjust the top value to move the icons vertically within the banner */
    right: 10px;
    font-size: 24px;
    color: var(--text-color)
}

.icons{
    color:var(--text-color);
}


.sidebar {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 2; /* Ensure the sidebar is above the banner */
}
li {
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    margin-right: 25px;
}

.heading{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--text-color);
}
.paragdart{
    text-align: center;
    font-size:20px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 5s ease;
    color:var(--text-color)
}
.paragdart:hover{
    transform: scale(0);
}

.container {
    padding: 2rem;
    margin-top: 100px;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}



.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden; /* Hide horizontal scroll */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-type: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

body {
    background-color: white;
}

.toolbox {
    padding:10px;
    width:95%;
    text-align: center;
    background-color: blueviolet;
    color: #fff;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-color: #fff;
    --text-color: rgb(1, 1, 1)000;
    --banner-color: linear-gradient(90deg,rgb(225, 3, 225),rgb(174, 227, 234));
    --banner-hover: linear-gradient(90deg,rgb(225, 3, 225),rgb(174, 227, 234));
}

.dark-theme {
    --primary-color: #000106;
    --text-color: #ffaefb;
    --banner-color: linear-gradient(90deg,rgb(39, 39, 39),rgb(44, 50, 50));
    --banner-hover: linear-gradient(90deg,rgb(39, 39, 39),rgb(44, 50, 50));
    
}

.bod{
    background-color: var(--primary-color)
}

